In [36]:
class clashResolover:
    def __init__(self, student_list, teacher, subject, json_struct):
        self.student_list=student_list
        self.teacher=teacher
        self.subject=subject
        self.json_struct=json_struct
    
    def clashHandler(self,sub,key):
        subjectClashes=[] 

        for i in course_data:
            if i!=sub:
                if course_data[i]['slot']==course_data[sub]['slot']:
                    if course_data[i]['_teacherID']==course_data[sub]['_teacherID']:
                        subjectClashes.append(i)
                        #print(i)
                    else:
                        for j in range(50):
                            if course_data[i]['_studentEnrolled'][j]==course_data[sub]['_studentEnrolled'][j]:
                                #print(i,course_data[i]['_studentEnrolled'][j])
                                subjectClashes.append(i)
                                #print(i)

        return subjectClashes

In [37]:
c= clashResolover(s_id,t_id,sub_id,course_data)
c.clashHandler('MG139B',keys)

['CS402A', 'MG129A', 'CS120B', 'EE230C', 'CS542A']

In [17]:
class Teacher:
    def __init__(self, teacher_id, teacher_name, subject_taught):
        self.teacher_id=teacher_id
        self.teacher_name=teacher_name
        self.subject_taught=subject_taught

In [18]:
from random import shuffle

In [19]:
with open("teacher.txt") as t:
    t_id=t.read().splitlines()
with open("student.txt") as s:
    s_id=s.read().splitlines()
with open("slots.txt") as sl:
    sl_id=sl.read().splitlines()
with open("subject.txt") as sub:
    sub_id=sub.read().splitlines()
    
keys=['_teacherID','_creditHours','_studentEnrolled','slot']

In [20]:
print(len(set(sub_id)))

43

In [21]:
Subjects={ 
    'ITC19A':{
    '_teacherID':'T16687',
    '_creditHours':3,
    '_studentEnrolled':["16P-6068","15P-6079"],
    'slot':'10-11'
},
    'English18A':{
        '_teacherID':'T16687',
    '_creditHours':3,
    '_studentEnrolled':["16P-6068","15P-6079"]
    
    }

}
len(sub_id)

50

In [22]:
def rand_students():
    list_st=[]
    x = [i for i in range(118)]
    shuffle(x)
    for i in range(50):
        list_st.append(s_id[x[i]])
    return list_st

In [23]:
course_data={ name:{ key:[] for key in keys} for name in sub_id}
len(course_data)

43

In [24]:
def data_initialization():
    j=0
    k=len(sl_id)-1
    for i in course_data:
        course_data[i]['_creditHours']=3
        course_data[i]['_teacherID']=t_id[j]
        course_data[i]['slot']=sl_id[k]
        course_data[i]['_studentEnrolled']=rand_students()
        k=k-1
        j=j+1

In [25]:

keys.remove('_creditHours')
keys.remove('slot')

In [26]:
'''for i in dic:
    print(i)'''
print(len(course_data))

43